body {
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 5rem;
}


/* -------------------------- */
/* Lista de imagens */

#listImgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


#listImgs img {
  margin: 1rem;
  width: 300px;
  /* width: 100%; */
  /* max-width: 400px; */
  height: auto;
}

.title {
  text-align: center;
}

#listImgs img:hover {
  position: relative;
  top: 25px;
  cursor: pointer;
}

/* Lista de imagens */
/* -------------------------- */

i {
  margin-right: 0.9rem;
}

.menuSpan {
  display: inline-block;
  margin: 0 5%;
}

/* ---------------------------------------- Modal Window with Pokemon Details */
/* Modal window */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------------------- Modal Window with Pokemon Details */